
@{
    ViewBag.Title = "Addorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<div>
    @{
        Html.RenderPartial("_UserTopMenu");
    }
</div>
<div>
    @{
        Html.RenderPartial("_sidenav");
    }
</div>
