<div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav nav">
        <div class="onMobileShow">
            <li><a href="/user/Neworder"><i class="fa fa-user"></i>Account<span class="badge">$30.694407</span></a></li>
        </div>
        <li class="clsUser login"><a href="/user/Neworder"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>New order</a></li>
        <li class="clsUser"><a href="/User/MassOrders"><i class="fa fa-paper-plane" aria-hidden="true"></i>Mass order</a></li>
        <li class="clsUser"><a href="/User/Services"><i class="fa fa-magic" aria-hidden="true"></i>Services</a></li>
        <li class="clsUser"><a href="/User/orders"><i class="fa fa-list" aria-hidden="true"></i>Orders</a></li>
        <li class="clsUser"><a href="/User/subscriptions"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Subscriptions</a></li>
        <li class="clsUser"><a href="/User/tickets"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Tickets</a></li>

        <li class="clsUser"><a href="/User/addfunds"><i class="fa fa-money" aria-hidden="true"></i> Add funds</a></li>
        <li class="clsUser"><a href="/User/faq"><i class="fa fa-question-circle" aria-hidden="true"></i>FAQ</a></li>
        <li class="clsUser"><a href="/User/terms"><i class="fa fa-file-text-o" aria-hidden="true"></i>Terms</a></li>
        <li class="clsadmin"><a href="/Admin/PlaceOrder"><i class="fa fa-file-text-o" aria-hidden="true"></i>Orders</a></li>
        <li class="clsadmin"><a href="/Admin/SignedUpUsers"><i class="fa fa-file-text-o" aria-hidden="true"></i>SignedUp Users</a></li>
        <li class="clsadmin"><a href="/User/NewOrder"><i class="fa fa-file-text-o" aria-hidden="true"></i>Place Order</a></li>
        <li class="clsadmin"><a href="/Admin/SupportTickets"><i class="fa fa-file-text-o" aria-hidden="true"></i>Support Tickets</a></li>
        <div class="onMobileShow">
            <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
        </div>
    </ul>
</div>
